html, body {
    padding: 0;
    margin: 0;
    font-family: var(--font--family-primary);
    background-color: var(--color-darkPurple);
    scroll-behavior: smooth;
}

p, h1, h2, h3 {
    color: var(--color-almostWhite);
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

p {
    font-size: var(--font-size-p);
}
