:root {
    /* Colors */
    --color-almostWhite: #F1F1F1;
    --color-neonBlue: #8BCBFF;
    --color-neonPink: #E16AE3;
    --color-neonGreen: #9FD39E;
    --color-lightPurple: #45307E;
    --color-darkPurple: #240D68;
    --color-veryDarkPurple: #19074F;

    /* Fonts */
    --font--family-primary: 'Rubik', sans-serif;
    --font--family-secondary: 'Montserrat', normal;

    /* Font sizes */
    --font-size-massive: 3.75rem; /* 60px */
    --font-size-h1: 1.875rem;    /* 20px */
    --font-size-h2: 1.5rem;      /* 24px */
    --font-size-h3: 1.25rem;     /* 20px */
    --font-size-h4: 1.125rem;    /* 18px */
    --font-size-p: 1rem;         /* 16px */

    /* Line heights */
    --line-height-1: 2.5rem;  /* 40px */
    --line-height-2: 1.875rem; /* 30px */
    --line-height-3: 1.25rem;  /* 20px */
}